.clients .content-box {
  display: flex;
  justify-content: center;
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}
.clients .content-box:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients .link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $primary-icon-color;
  border: 1px solid $primary-icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color $duration $timing-function,
    color $duration $timing-function;
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    outline: none;
  }
}
.clients .icon {
  fill: currentColor;
}
