.clients .flexbox {
  display: flex;
  flex-wrap: wrap;
}
.clients .content-box {
  display: flex;
  justify-content: center;
  height: 90px;
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px * 2) / 3);
  }
  &:not(:nth-child(2n)) {
    @media screen and (max-width: $tablet - 1px) {
      margin-right: 30px;
    }
  }
  &:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 5) / 6);
  }

  &:not(:nth-child(3n)) {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      margin-right: 30px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  &:not(:nth-last-child(-n + 3)) {
    @media screen and (max-width: $desktop - 1px) {
      margin-bottom: 30px;
    }
  }
}

.clients .link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $primary-icon-color;
  border: 1px solid $primary-icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color $duration $timing-function,
    color $duration $timing-function;
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    outline: none;
  }
}
.clients .icon {
  fill: currentColor;
}
