.contact-nav {
  // display: flex;
  // align-items: center;
  // margin-left: auto;
  margin-bottom: 60px;
}

.contact-nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contact-nav .item + .item {
  margin-top: 16px;
}

.contact-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}
