.developments {
  @media screen and (max-width: $desktop - 1px) {
    display: none;
  }
}
.developments .flexbox {
  display: flex;
  flex-wrap: wrap;
}
.developments .content-box {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
}
.developments .content-box:not(:nth-child(3n)) {
  margin-right: 30px;
}
.developments h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
  background: rgba(47, 48, 58, 0.8);
}
