$features-icons: "antenna", "clock", "diagram", "astronaut";

@each $iconName in $features-icons {
  .icon-#{$iconName}::before {
    background-image: url("../images/studio/#{$iconName}.svg");
  }
}
.features .flexbox {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  outline: 1px solid blue;
}
.features .content-box {
  &::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $button-bg-color;
  }
  outline: 1px solid red;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 3) / 4);
  }
  &:not(:last-child) {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 30px;
    }
  }
  &:not(:nth-child(2n)) {
    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }
  &:not(:nth-child(4n)) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  &:not(:nth-last-child(-n + 2)) {
    @media screen and (max-width: $desktop - 1px) {
      margin-bottom: 30px;
    }
  }
}

.features h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-text-color;
  @media screen and (max-width: $tablet - 1px) {
    text-align: center;
  }
}
.features p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-text-color;
}
