.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $duration $timing-function;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  border-radius: 4px;
  padding: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-field:not(.comment) {
  margin-bottom: 10px;
}
.modal-field.comment {
  margin-bottom: 20px;
}
.modal-input {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border $duration $timing-function;
  &:focus {
    border: 1px solid $accent-color;
  }
}
.modal-input + .icon {
  fill: $title-text-color;
  transition: fill $duration $timing-function;
}
.modal-input:focus + .icon {
  fill: $accent-color;
}

.modal-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}
.modal-field .icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
}
.modal-field textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border $duration $timing-function;
  &:focus {
    border: 1px solid $accent-color;
  }
}

.modal .policy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-text-color;
}
.policy .checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.policy .icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  transition: background-color $duration $timing-function,
    border-color $duration $timing-function;
}
.checkbox:checked + .icon {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url("../images/studio/check.svg");
  background-size: contain;
  background-origin: border-box;
}
.policy .link {
  font-weight: 400;
  text-decoration-line: underline;
  color: $accent-color;
}
.modal .submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  color: $primary-white-color;
  background-color: $accent-color;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color $duration $timing-function,
    color $duration $timing-function;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  &:hover,
  &:focus {
    outline: none;
    color: $accent-color;
    background-color: $primary-white-color;
    cursor: pointer;
  }
}

.modal b {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.modal-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  min-width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  background: $primary-white-color;
  color: #000000;
  box-sizing: border-box;
  outline: none;
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}
.modal-close:hover .icon,
.modal-close:focus .icon {
  fill: currentColor;
}
