footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;
}

footer .flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
  footer .box:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: $desktop) {
  footer .box + .box {
    margin-left: 30px;
  }
}
footer .logo {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  color: $primary-white-color;
}
.address,
.join {
  width: 100%;
  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 60px;
    text-align: center;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px * 3) / 4);
  }
}
.address p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-white-color;
}
.address li:not(:last-child) {
  margin-bottom: 10px;
}
.address .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $additional-white-color;
  transition: color $duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.join p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}
.join .social {
  justify-content: center;
  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}
.join .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.js-speaker-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (min-width: $tablet) {
    width: 450px;
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px) / 2);
    flex-wrap: nowrap;
  }
}
.form-field {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.form-field label {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}
.form-field input {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 16px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: $primary-text-color;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.js-speaker-form button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-left: 12px;
  min-height: 50px;
  transition: background-color $duration $timing-function,
    color $duration $timing-function;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  &:hover,
  &:focus {
    outline: none;
    color: $accent-color;
    background-color: $primary-white-color;
    cursor: pointer;
  }
}

.js-speaker-form .icon {
  margin-left: 10px;
  fill: currentColor;
  transition: transform $duration $timing-function $duration;
}
.js-speaker-form button:hover .icon,
.js-speaker-form button:focus .icon {
  transform: translate(100%, calc(-100% - 15px));
}
