.social {
  display: flex;
  justify-content: center;
}
.social .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $primary-white-color;
  transition: background-color $duration $timing-function,
    color $duration $timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
    outline: none;
  }
}
.social .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social li + li {
  margin-left: 10px;
}
